@model List<CommonUtility.TrainerModel>
@{
    ViewBag.Title = "Search Trainer";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Trainer Information</h4>
        <h6 class="card-subtitle">Can also search or sort by any column</h6>
        <table class="table table-striped table-bordered" id="Cust_Rec">
            <thead>
                <tr>
                    <th>Trainer Name</th>
                    <th>Gender</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>JoinDate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="gradeX">
                        <td>@item.TrainerName</td>
                        <td>@item.Gender</td>
                        <td>@item.Mobile</td>
                        <td>@item.Email</td>
                        <td>@item.JoinDate.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/Script/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Cust_Rec').DataTable({
            "bLengthChange": false,
            "pagingType": "full_numbers"
        });
    });
</script>

