@model CommonUtility.TrainerModel
@{
    ViewBag.Title = "TrainerRegistration";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="card">
    <div class="card-body">
        @if (ViewBag.Tmessage != null && ViewBag.Tmessage != "")
        {
            if (ViewBag.Tmessage == "Registration Failed")
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    <h3 class="text-danger"><i class="fa fa-exclamation-circle"></i> Error</h3> @ViewBag.Tmessage
                </div>
            }
            else
            {
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    <h3 class="text-success"><i class="fa fa-check-circle"></i> Success</h3> @ViewBag.Tmessage
                </div>
            }
        }
        <h4 class="card-title">Trainer Registration</h4>
        <p class="card-subtitle"></p><br />
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                @using (Html.BeginForm("TrainerRegistration", "Trainer", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                    <div class="form-group">
                        <label>Trainer Name</label>
                        @Html.TextBoxFor(x => x.TrainerName, new { @class = "form-control", @placeholder = "Enter Your Name" })
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <select class="form-control" name="Gender">
                            <option value="0">-- Select --</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Mobile</label>
                        @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control", @placeholder = "Enter Mobile" })
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Enter Email" })
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Register</button>
                    <button type="button" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/Script/bootstrap.min.js"></script>