@model CommonUtility.CustomerRegistration
@{
    ViewBag.Title = "UserRegistration";
    Layout = "~/Views/Shared/_NewLayout.cshtml";


}
@using (Html.BeginForm("UserRegistration", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">        
        <div class="col-lg-12">
            <div class="card ">
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white">Customer Registration</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-info alert-dismissible fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
                    </div>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Name</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Enter Name" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Mobile</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control", @placeholder = "Enter Mobile" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Gender</label>
                                    <div class="col-md-9">
                                        <div class="custom-control custom-radio">
                                            <label>
                                                @Html.RadioButtonFor(x => x.Gender, "Male", new { id = "gender", @checked = "checked" }) Male
                                            </label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <label>
                                                @Html.RadioButtonFor(x => x.Gender, "FeMale", new { id = "gender" }) Female
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Date of Birth</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.DateofBirth, new { @class = "form-control", @placeholder = "MM/DD/YYYY" })
                                        @*<input type="text" id="datepicker" class="form-control"  placeholder="MM/DD/YYYY" />*@
                                        @*<input type="date" name="DateofBirth" class="form-control" placeholder="dd/mm/yyyy">*@
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Email</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Enter Email" })

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Memebership</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.MembershipID, ViewBag.Membership as SelectList, "-- Select --", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Batch Tymings</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.BatchID, ViewBag.Batchdetails as SelectList, "-- Select --", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Total Payment</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.TotalPayment, new { @class = "form-control", @placeholder = "Enter Total Payment", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Payment</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Payment, new { @class = "form-control", @placeholder = "Enter Payment" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Outstanding Amount</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Outstanding, new { @class = "form-control", @placeholder = "Enter Outstanding", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Weight</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Weight, new { @class = "form-control", @placeholder = "Enter weight" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Source</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Source, new { @class = "form-control", @placeholder = "Enter Source" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="container">
                                <center>
                                    <button type="submit" id="btnGetData" class="btn btn-primary">Register</button>
                                </center>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        $("#DateofBirth").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "1948:2010"
        });

        $("#MembershipID").change(function () {
            var mid = $(this).val();
            if (mid != '') {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("BindPrice", "User")',
                    data: { memid: mid },
                    dataType: "json",
                    success: function (data) {
                        $('#TotalPayment').val(data.price);
                        $('#Outstanding').val(data.price);
                    },
                    error: function () {
                    }
                });
            }
            else {
                $('#TotalPayment').val('');
                $('#Outstanding').val('');
            }

        });

        $('#Payment').change(function () {
            var paymnt = $(this).val();
            var totalpaymnt = $('#TotalPayment').val();
            var amt = "";
            if (paymnt != '') {
                amt = parseInt(totalpaymnt) - parseInt(paymnt);
                $('#Outstanding').val(amt);
            }
            else {
                $('#Outstanding').val(totalpaymnt);
            }
        });


    });
</script>
